@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@plugin "flowbite-typography";

/*@config '../tailwind.config.js';*/

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
html {
    font-family: "Libre Baskerville", system-ui, sans-serif;
    font-weight: 400;
    background-color: #FDFCF7;
}
}